.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 12px 65px;
    border-radius: 25px;
    display: block;
    cursor: pointer;
    border: none;
    font-size: .9em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
  }

  &:hover:enabled {
    opacity: .8;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &--blue {
    background-color: $color-blue-light-1;
    color: $whitecolour;

    &:disabled {
      cursor: not-allowed;
      background-color: $color-blue-light-3;
    }
  }
}
