// COLORS
$color-blue-dark-1: #005abb;

$color-blue-light-1: #007bff;

$color-grey-light-1: #a3a3a3;
$color-grey-light-2: #dedede;
$color-grey-light-3: #efefef;

$color-red-light-1: #fda49a;

$color-grey-dark-1: #445366;
$color-grey-dark-2: #616e7f;
$color-grey-dark-3: #555;

$color-orange-dark-1: #944317;

$color-yellow-dark-1: #eec900;

$darkcolour: #333;
$graycolour: #445366;
$whitecolour: #fff;
$signInButtonColour: #007bff;
$inputFormFieldColour: #616E7F;
$inputFormFieldLinkColour: #66707D;
$indexBackground: rgb(8, 11, 15);
$pageSwitcherItemBackground : rgb(236, 241, 248);
$pageSwitcherItemActiveBackground : 007bff;
$FormTitleColor: #707C8B;
$whitecolor: #fff;
$maincolor: #333;
$bluecolor: #007bff;
$dangercolor: #721c24;
$successcolor: #155724;
$graycolor: #d6d8d9;

// copain's colors
$blackcolour: #000000;
$blackishcoulor: #00000096;
$blacktwocoulor: #080b0f;
$whitishcoulor: #ecf1f8;
$blackswitchcoulor: #161718;
$bluecoulor: #007bff;
$greycoulor: #707C8B;
$blueishcoulor: #3d97f7;
$pinkcoulor: #e0567a;
$white-color:#ffff;
$backgroundColor:#00000094;
$blueColor:#291cc7;
$width:10px;
$blackColor:#000;
$redColor:#ff00a1;
$gray: #ddd;
$robotFontFamily: 'Source Sans Pro', sans-serif;
$size15:15px;
$size20:20px;
$black:#000;
$size12:12px;
$cantoraFont:'Cantora One', sans-serif;
$editorContent: #0a05058c;
$tagColor: #ca4b70;
$backgroundOverlay: #00000094;
$rokitFont: 'Rokkitt', serif;
$backImage: 'https://res.cloudinary.com/badass/image/upload/v1559251948/jon-tyson-762619-unsplash.jpg';
