$darkcolour: #333;
$graycolour: #445366;
$whitecolour: #fff;
$signInButtonColour: #007bff;
$inputFormFieldColour: #616E7F;
$inputFormFieldLinkColour: #66707D;
$indexBackground: rgb(8, 11, 15);
$pageSwitcherItemBackground : rgb(236, 241, 248);
$pageSwitcherItemActiveBackground : 007bff;
$FormTitleColor: #707C8B;
$whitecolor: #fff;
$maincolor: #333;
$bluecolor: #007bff;
$dangercolor: #721c24;
$successcolor: #155724;
$graycolor: #d6d8d9;
$darkcolour: #333;
$whitecolour: #fff;
$whitishcoulor: #ecf1f8;
$blackcolour: #000000;
$blackishcoulor: #00000096;
$blacktwocoulor: #080b0f;
$blackswitchcoulor: #161718;
$bluecoulor: #007bff;
$greycoulor: #707C8B;
$blueishcoulor: #3d97f7;
$pinkcoulor: #e0567a;
$popUpBack:#5600ff63;
