.modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 60%;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
    padding: 20px;
    left: 20%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.2s ease-out;

    &__main-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__content-title {
      text-align: center;
      font-size: 1.8em;
      font-weight: 400;
    }
}