.star-rating {
  margin-bottom: 5px;

  &__container {
    
    &-rating {
       display: flex;
       align-items: center;
       width: fit-content;
    }
  }

  &__title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  &__ratings {
    margin-right: 35px;
  }

  &__star {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    fill: $color-grey-light-1;
    transition: color .2s ease-out;

    &:hover {
      cursor: pointer;
    }

    &--selected {
      fill: $color-yellow-dark-1;
    }
  }
  &__error {
      color: red;
      font-size: 1.2em;
      margin-top: 5px;
    }

  &__load-wait {
    display: flex;
    align-items: center;

    & span {
      color: $color-grey-dark-3;
      font-size: 1.1em;
    }
  }

  &__spinner {
    width: 22px;
    height: 22px;
  }

  &__description,
  &__average {
    color: $color-grey-dark-3;
    font-size: 1.1em;
  }

  &__average {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 2px;

    &-rating {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 4px;
      margin-bottom: 7px;

      & span {
        margin-right: 3px;
      }
    }
  }

  &__btn-edit {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid $color-grey-dark-3;
    font-size: .7em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

    &:hover {
      color: $color-yellow-dark-1;
      border: 1px solid $color-yellow-dark-1;
    }
  }

  &__yellow-star {
    fill: $color-orange-dark-1;
  }

}