@import url('https://fonts.googleapis.com/css?family=Amiri|Arapey|Fredoka+One|Lobster+Two|Miriam+Libre');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Anton|Cantora+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

@import 'config';
@import 'socialMediaButton';
@import 'navbar';
@import 'footer';
@import 'forgotPassword';
@import 'alert';
@import 'button';
@import 'auth';
@import 'form';

*,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Arapey', serif;

  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}
@import 'style';
@import 'article'

