@import url('https://fonts.googleapis.com/css?family=Amiri|Arapey|Fredoka+One|Lobster+Two|Miriam+Libre');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Anton|Cantora+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

@import 'config';
@import 'socialMediaButton';
@import 'navbar';
@import 'footer';
@import 'forgotPassword';
@import 'alert';
@import 'button';
@import 'auth';
@import 'form';
@import 'profile';
@import 'starRating';
@import 'sections';
@import 'readingStats';
@import 'highlightPopover';
@import 'commentPopover';
<<<<<<< HEAD
<<<<<<< HEAD
@import 'popup';
@import 'activate';
=======
>>>>>>> Merge pull request #29 from andela/ft-highlight-text-164489906
=======
@import 'popup';
@import 'activate';
>>>>>>> [feature#164489894] Allowing a user to signup

*,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Arapey', serif;

  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}
@import 'style';
<<<<<<< HEAD
<<<<<<< HEAD
@import 'article';
=======
@import 'article';
>>>>>>> Merge pull request #29 from andela/ft-highlight-text-164489906
=======
@import 'article';
>>>>>>> [feature#164489894] Allowing a user to signup
