@import url("https://fonts.googleapis.com/css?family=Amiri|Arapey|Fredoka+One|Lobster+Two|Miriam+Libre");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Anton|Cantora+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amiri|Arapey|Fredoka+One|Lobster+Two|Miriam+Libre");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Anton|Cantora+One");
@import url("https://fonts.googleapis.com/css?family=Rokkitt&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amiri|Arapey|Fredoka+One|Lobster+Two|Miriam+Libre");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Anton|Cantora+One");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
.socialMediaButtons {
  margin-top: 10%; }
  .socialMediaButtons .mr-20 {
    margin-right: 20px !important; }
  .socialMediaButtons .socialMedia {
    border: none;
    outline: none;
    border-radius: 50%;
    /* padding: 15px 70px; */
    height: 40px;
    width: 40px;
    font-size: .8em;
    font-weight: 500;
    cursor: pointer; }
  .socialMediaButtons .facebook {
    background: url("../img/socialMediaIcons/facebook.svg"); }
  .socialMediaButtons .twitter {
    background: url("../img/socialMediaIcons/twitter.svg"); }
  .socialMediaButtons .gmail {
    background: url("../img/socialMediaIcons/gmail.svg"); }

.top-header {
  position: relative;
  background: #000;
  padding: 20px;
  padding-left: 50px; }
  .top-header .top-icon {
    display: grid;
    grid-template-columns: 20px 20px 20px;
    grid-gap: 50px;
    margin-top: 8px; }
    .top-header .top-icon .img-icon img {
      width: 100%; }
  .top-header .top-search {
    position: absolute;
    right: 0;
    margin-top: 5px;
    top: 0;
    margin-right: 20px;
    width: 20%; }
    .top-header .top-search .top-search-grid {
      display: grid;
      grid-template-columns: 80% 20%; }
      .top-header .top-search .top-search-grid .search-input {
        height: 50px;
        border: none;
        background: none;
        color: #fff;
        padding: 5px;
        box-shadow: none;
        outline: none;
        font-size: 14px;
        font-family: "Rokkitt", serif;
        display: inline-block;
        text-transform: capitalize; }
      .top-header .top-search .top-search-grid .search-icon {
        width: 15px;
        margin-top: 23px; }
  .top-header ::-webkit-input-placeholder {
    color: #fff;
    font-size: 13px; }
  .top-header ::-moz-placeholder {
    color: #fff;
    font-size: 13px; }
  .top-header :-ms-input-placeholder {
    color: peachpuff;
    font-size: 13px; }
  .top-header ::placeholder {
    color: #fff;
    font-size: 13px; }

.top-menu-section {
  position: relative;
  padding: 30px;
  padding-bottom: 0px; }
  .top-menu-section .logo {
    position: absolute;
    top: 0;
    width: 60px;
    margin-left: 65px;
    margin-top: 50px; }
  .top-menu-section .top-menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .top-menu-section .top-menus .title h1 {
      font-family: 'Fredoka one', cursive;
      font-weight: bold; }
    .top-menu-section .top-menus .navigation li {
      float: left;
      margin: 20px; }
    .top-menu-section .top-menus .navigation a {
      color: #000000;
      font-size: 18px;
      font-family: "Rokkitt", serif; }
    .top-menu-section .top-menus .navigation .auth-link {
      position: absolute;
      right: 0;
      margin-right: 150px !important; }
      .top-menu-section .top-menus .navigation .auth-link a {
        padding: 15px;
        border-radius: 2px;
        padding-left: 30px;
        padding-right: 30px;
        color: #fff;
        margin-left: 20px;
        padding-bottom: 12px;
        padding-top: 12px; }
      .top-menu-section .top-menus .navigation .auth-link .headerIcon {
        width: 20px;
        cursor: pointer; }

.toggleNavBar {
  position: absolute;
  right: 0;
  margin-right: 100px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
  padding: 5px;
  top: 0;
  z-index: 10;
  margin-top: 90px;
  width: 12%; }
  .toggleNavBar li {
    padding: 20px;
    padding-left: 10px; }
  .toggleNavBar a {
    color: #000; }
    .toggleNavBar a i {
      padding-right: 5px; }

.toggleNotification {
  right: 157px;
  z-index: 110;
  background: #d6d8d9;
  width: 20%;
  padding: 0px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .toggleNotification ul li {
    background: #fff;
    margin-bottom: 2px;
    color: #333;
    cursor: pointer; }
    .toggleNotification ul li i {
      display: block;
      float: left;
      color: #333; }
    .toggleNotification ul li span {
      display: block;
      margin-left: 30px; }
  .toggleNotification ul li:hover {
    background: #d6d8d9; }
  .toggleNotification ul .no-notification {
    text-align: center; }

.notification-badge i {
  font-size: 30px;
  color: gray; }

.notification-badge span {
  font-size: 13px;
  background: #d6d8d9;
  display: inline-block;
  width: 20px;
  padding: 3px;
  text-align: center;
  border-radius: 50%;
  font-weight: bolder;
  color: #fff;
  background: #dc3545;
  position: absolute;
  right: 15px;
  bottom: 30px; }

.dropdownHeight {
  height: 470px;
  overflow-y: auto; }

footer {
  position: relative;
  color: #fff; }
  footer h1 {
    font-size: 1.5rem;
    margin-bottom: 20px; }
  footer .footer-menus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 350px;
    background: #000; }
  footer .top-icon {
    display: grid;
    grid-template-columns: 20px 20px 20px;
    grid-gap: 50px;
    margin-top: 8px; }
    footer .top-icon .img-icon img {
      width: 100%; }
  footer .footer-logo {
    width: 60px;
    margin-bottom: 10px; }

.password-container {
  background: #d6d8d9;
  padding: 50px 30px; }
  .password-container .password-content {
    display: block;
    background: #fff;
    padding: 30px;
    width: 40%;
    margin: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
    .password-container .password-content .password-title {
      color: #333; }
    .password-container .password-content .password-input {
      display: block;
      padding: 10px;
      border: 1px solid #d6d8d9;
      border-radius: 2px;
      width: 100%;
      font-size: 15px;
      box-sizing: border-box;
      margin-top: 20px;
      margin-bottom: 20px; }
    .password-container .password-content .password-btn {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 10px;
      border: 1px;
      border-radius: 2px;
      font-size: 15px;
      background: #007bff;
      color: #fff; }

.alert {
  padding: 0.8rem;
  margin: auto;
  margin-bottom: 20px; }

.alert-success {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724; }

.alert-danger {
  background: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 12px 65px;
  border-radius: 25px;
  display: block;
  cursor: pointer;
  border: none;
  font-size: .9em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

.btn:hover {
  opacity: .8; }

.btn:active, .btn:focus {
  outline: none; }

.btn--blue {
  background-color: #007bff;
  color: #fff; }
  .btn--blue:disabled {
    opacity: 1;
    cursor: not-allowed; }

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif; }
  .auth__left-side {
    flex: 0 0 50%;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.7)), url("https://res.cloudinary.com/badass/image/upload/v1559251948/jon-tyson-762619-unsplash.jpg");
    background-size: cover;
    background-position: top;
    position: relative; }
  .auth__right-side {
    flex: 1;
    background-color: black;
    padding: 6%;
    display: flex;
    flex-direction: column; }
  .auth__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .auth__logo {
    width: 100px; }
  .auth__switcher {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px; }
    .auth__switcher-btn {
      background-color: #ecf1f8;
      color: #161718;
      border-radius: 25px 0 0 25px;
      font-size: 1em;
      padding: 13px 32px; }
      .auth__switcher-btn:last-child {
        border-radius: 0 25px 25px 0; }
      .auth__switcher-btn--active {
        background-color: #007bff;
        color: #fff; }
        .auth__switcher-btn--active:hover {
          opacity: 1;
          cursor: not-allowed; }
  .auth__form-error {
    height: 20px;
    margin-bottom: 20px; }
  .auth__form-wrapper {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 10px; }

.form__group {
  margin-top: 30px; }

.form__input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  border: none; }
  .form__input:focus {
    outline: none; }
  .form__input::-webkit-input-placeholder {
    color: #616e7f; }

.form__input-login {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #445366;
  padding: 10px 0; }
  .form__input-login--invalid {
    border-bottom: 1px solid red; }

.form__label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff; }

.form__error {
  color: red;
  padding: 5px 5px;
  font-size: 1.5em;
  margin-bottom: 20px;
  padding: 0; }

.form__forget-password {
  margin: 15px 0 25px 0; }
  .form__forget-password a {
    color: #007bff;
    letter-spacing: 0.1em; }
    .form__forget-password a:hover {
      text-decoration: underline; }

.profile-section {
  position: relative;
  width: 86%;
  margin: auto;
  margin-bottom: 30px; }
  .profile-section .user-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .profile-section .user-profile .user-infos,
    .profile-section .user-profile .user-articles {
      width: 50%; }
    .profile-section .user-profile .user-infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .profile-section .user-profile .user-infos .avatar {
        width: 100px;
        height: 100px; }
        .profile-section .user-profile .user-infos .avatar img {
          width: 100%;
          height: 100%;
          border-radius: 100%; }
      .profile-section .user-profile .user-infos .information {
        margin-top: 20px; }
        .profile-section .user-profile .user-infos .information .stars {
          color: #ff00a1;
          margin-top: 10px;
          cursor: pointer; }
      .profile-section .user-profile .user-infos .bio {
        width: 60%;
        margin: auto;
        margin-top: 10px; }
      .profile-section .user-profile .user-infos .usernumber-followers {
        display: flex;
        flex-direction: row;
        height: 100px;
        justify-content: center;
        align-items: center; }
        .profile-section .user-profile .user-infos .usernumber-followers div {
          margin: 10px;
          margin-top: 15px;
          border: 1px solid #ddd;
          padding: 10px;
          border-radius: 3px;
          color: #000; }
          .profile-section .user-profile .user-infos .usernumber-followers div a {
            color: #000 !important; }
      .profile-section .user-profile .user-infos .edit-profile-link {
        background: #007bff;
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        width: 30%; }
        .profile-section .user-profile .user-infos .edit-profile-link .fa-edit {
          margin-right: 5px; }
    .profile-section .user-profile .user-highlights {
      margin-top: 20px;
      height: 200px;
      overflow: auto; }
      .profile-section .user-profile .user-highlights .highlights-title {
        border: 1px solid #d6d8d9;
        padding: 10px;
        background: #d6d8d9;
        font-weight: bolder;
        font-size: 20px; }
      .profile-section .user-profile .user-highlights .user-highlighted-texts {
        border: 1px solid #d6d8d9; }
        .profile-section .user-profile .user-highlights .user-highlighted-texts .highlight {
          text-align: left;
          font-size: 20px;
          font-weight: bolder;
          padding: 20px; }
        .profile-section .user-profile .user-highlights .user-highlighted-texts .comment {
          text-align: left;
          background: #d6d8d9;
          padding: 20px; }
  .profile-section .user-articles {
    position: relative;
    height: 70vh;
    text-align: justify;
    overflow-y: auto; }
    .profile-section .user-articles .pro-article-title {
      position: absolute;
      top: 0;
      text-align: center;
      font-size: 20px;
      margin-top: 50px;
      font-weight: bold;
      width: 100%; }
    .profile-section .user-articles .user-blogs {
      margin-top: 100px;
      position: relative; }
      .profile-section .user-articles .user-blogs .blogs-article {
        width: 85%;
        border: 1px solid #ddd;
        margin: auto;
        border-radius: 4px;
        padding: 8px;
        padding-bottom: 15px;
        margin-top: 15px;
        padding-top: 15px; }
        .profile-section .user-articles .user-blogs .blogs-article .blogs-avatar-info {
          position: relative;
          width: 100%;
          margin-bottom: 4px; }
          .profile-section .user-articles .user-blogs .blogs-article .blogs-avatar-info div {
            display: inline-block; }
          .profile-section .user-articles .user-blogs .blogs-article .blogs-avatar-info .blog-avatar {
            width: 40px;
            height: 40px; }
            .profile-section .user-articles .user-blogs .blogs-article .blogs-avatar-info .blog-avatar img {
              width: 100%;
              height: 100%;
              border-radius: 100%; }
          .profile-section .user-articles .user-blogs .blogs-article .blogs-avatar-info .blog-info {
            position: absolute;
            margin-left: 10px; }
            .profile-section .user-articles .user-blogs .blogs-article .blogs-avatar-info .blog-info span {
              display: block;
              color: #333; }
            .profile-section .user-articles .user-blogs .blogs-article .blogs-avatar-info .blog-info span:nth-child(2) {
              font-size: 13px;
              margin-top: 3px; }
        .profile-section .user-articles .user-blogs .blogs-article .blogs-descriptive .desc-image {
          width: 100%;
          height: 250px;
          margin-bottom: 6px;
          position: relative; }
          .profile-section .user-articles .user-blogs .blogs-article .blogs-descriptive .desc-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px; }
        .profile-section .user-articles .user-blogs .blogs-article .blogs-descriptive .desc-image::before {
          content: '';
          background-color: rgba(0, 0, 0, 0.2);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          position: absolute; }
        .profile-section .user-articles .user-blogs .blogs-article .blogs-descriptive .desc-articles a {
          color: #000; }
        .profile-section .user-articles .user-blogs .blogs-article .blogs-descriptive .desc-articles-titles {
          font-weight: bold;
          padding-top: 5px;
          cursor: pointer; }
          .profile-section .user-articles .user-blogs .blogs-article .blogs-descriptive .desc-articles-titles h1 {
            font-family: "Rokkitt", serif;
            font-size: 20px; }
          .profile-section .user-articles .user-blogs .blogs-article .blogs-descriptive .desc-articles-titles div {
            color: #000;
            font-weight: normal;
            font-size: 15px;
            margin-top: 5px; }

.profile-container {
  background: #d6d8d9;
  padding: 50px 30px; }
  .profile-container .edit-profile-content {
    display: block;
    background: #fff;
    padding: 30px;
    width: 60%;
    margin: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
    .profile-container .edit-profile-content .user-profile {
      display: flex;
      flex-direction: row;
      width: 100%; }
    .profile-container .edit-profile-content .user-info {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-right: 5%; }
    .profile-container .edit-profile-content .user-image {
      display: flex;
      flex-direction: column;
      width: 30%;
      align-items: center; }
      .profile-container .edit-profile-content .user-image img {
        width: 80%;
        margin-bottom: 5%; }
      .profile-container .edit-profile-content .user-image .upload-image-btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px;
        border-radius: 3px;
        font-size: 13px;
        background: #d6d8d9; }
        .profile-container .edit-profile-content .user-image .upload-image-btn i {
          margin-right: 5px; }
    .profile-container .edit-profile-content .profile-title {
      color: #333; }
    .profile-container .edit-profile-content .profile-input {
      display: block;
      padding: 10px;
      border: 1px solid #d6d8d9;
      border-radius: 2px;
      width: 100%;
      font-size: 15px;
      box-sizing: border-box;
      margin-top: 20px;
      margin-bottom: 20px; }
    .profile-container .edit-profile-content .profile-btn {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 10px;
      border: 1px;
      border-radius: 2px;
      font-size: 15px;
      background: #007bff;
      color: #fff; }

.drop-article {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -5px; }
  .drop-article button {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 0px 10px 0px #dddddd61; }
    .drop-article button .editIcon {
      color: blue;
      padding-left: 5px; }
    .drop-article button .deleteIcon {
      color: #ff00a1;
      padding-left: 5px; }

.singleDrop {
  right: 0;
  margin-top: -5px;
  top: inherit;
  position: absolute;
  z-index: 100; }

.star-rating {
  margin-bottom: 10px; }
  .star-rating__container-rating {
    display: flex;
    width: fit-content; }
  .star-rating__title {
    font-size: 1.2em;
    margin-bottom: 10px; }
  .star-rating__ratings {
    margin-right: 35px; }
  .star-rating__star {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    fill: #a3a3a3;
    transition: color .2s ease-out; }
    .star-rating__star:hover {
      cursor: pointer; }
    .star-rating__star--selected {
      fill: #eec900; }
  .star-rating__error {
    color: red;
    font-size: 1.2em;
    margin-top: 5px; }
  .star-rating__load-wait {
    display: flex;
    align-items: center; }
    .star-rating__load-wait span {
      color: #555;
      font-size: 1.1em; }
  .star-rating__spinner {
    width: 22px;
    height: 22px; }
  .star-rating__description, .star-rating__average-rating {
    color: #555;
    font-size: 1.1em;
    font-style: italic; }
    .star-rating__description span:not(:last-child), .star-rating__average-rating span:not(:last-child) {
      margin-right: 10px; }
  .star-rating__btn-edit {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #555;
    font-size: .7em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; }
    .star-rating__btn-edit:hover {
      color: #eec900;
      border: 1px solid #eec900; }

.section__rating {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px; }
  .section__rating-like {
    align-self: center; }

.reading-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-style: italic;
  font-size: 1.2em; }
  .reading-stats__icon {
    position: relative; }
    .reading-stats__icon-study {
      fill: #007bff;
      width: 30px; }
    .reading-stats__icon-tooltip {
      visibility: hidden;
      width: 85px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      padding: 4px;
      position: absolute;
      z-index: 1;
      font-size: .7em;
      margin-top: 33px;
      margin-left: -30px;
      font-style: normal; }
    .reading-stats__icon:hover {
      cursor: pointer; }
    .reading-stats__icon:hover .reading-stats__icon-tooltip {
      visibility: visible; }
  .reading-stats__total-number {
    margin-left: 7px;
    font-weight: 700; }
  .reading-stats__description {
    margin-left: 4px;
    color: #555; }

.popup {
  background: #fff;
  padding: 20px;
  position: absolute;
  border-radius: 50px;
  width: 200px;
  box-shadow: 1px 2px 8px #333;
  text-align: center;
  transition: all 0.45s ease-in-out;
  z-index: 1; }
  .popup button {
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px; }
  .popup button:hover {
    background: #d6d8d9; }

.hide {
  display: none; }

.highlighted {
  background: aqua;
  cursor: pointer; }

.highlighted:hover {
  text-decoration: underline; }

.comment-popover {
  background: #fff;
  border: 1px solid #d6d8d9;
  width: 400px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 2px 8px #333;
  transition: all 0.45s ease-in-out; }
  .comment-popover .title {
    border-bottom: 1px solid #d6d8d9;
    background: #d6d8d9; }
    .comment-popover .title .title-text {
      padding: 10px;
      font-size: 22px; }
  .comment-popover form {
    padding: 10px; }
    .comment-popover form .comment-input {
      display: block;
      padding: 10px;
      border: 1px solid #d6d8d9;
      border-radius: 2px;
      width: 100%;
      font-size: 15px;
      box-sizing: border-box;
      margin-bottom: 15px; }
    .comment-popover form .comment-btn {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 5px;
      border: 1px;
      border-radius: 2px;
      font-size: 13px;
      width: 80px;
      background: #d6d8d9;
      cursor: pointer; }

.highlight-comment {
  background: #fff;
  border: 1px solid #d6d8d9;
  width: 350px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 2px 8px #333;
  transition: all 0.45s ease-in-out; }
  .highlight-comment .title {
    border-bottom: 1px solid #d6d8d9;
    background: #d6d8d9; }
    .highlight-comment .title .title-text {
      padding: 10px;
      font-size: 22px; }
  .highlight-comment .comment {
    padding: 10px; }

.C-popUp {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #5600ff63;
  z-index: 100; }

.C-popupDescription {
  background: #fff;
  width: 25%;
  border-radius: 4px;
  color: #000;
  padding: 20px; }

.C-popupDescription img {
  width: 60px; }

.C-popup-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%; }

.C-popup-message {
  font-size: 13px;
  margin-bottom: 15px;
  text-align: center; }

.C-popup-message h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px; }

.C-closePopUp {
  right: 0;
  position: absolute;
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background: none;
  color: #fff;
  outline: none;
  box-shadow: none; }

.activate {
  display: flex;
  align-items: center;
  justify-content: center; }
  .activate a {
    font-size: 1.5em; }

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7); }
  .backdrop__icon-close {
    width: 20px;
    height: 20px;
    float: right;
    margin: 20px 40px 0 0;
    fill: #dedede; }
    .backdrop__icon-close:hover {
      cursor: pointer; }

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  align-self: center; }
  .dropdown__icon {
    fill: #555;
    width: 25px;
    height: 25px; }
  .dropdown:hover {
    cursor: pointer; }
  .dropdown__content {
    min-width: 100px;
    border-radius: 4px;
    margin-top: -2px;
    position: absolute;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    z-index: 10; }
    .dropdown__content > * {
      display: block;
      padding: 5px 10px;
      color: #555; }
  .dropdown__item:hover {
    color: #000;
    cursor: pointer; }

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 60%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  padding: 20px;
  left: 20%;
  top: 20%;
  box-sizing: border-box;
  transition: all 0.2s ease-out; }
  .modal__main-content {
    display: flex;
    align-items: center;
    justify-content: center; }
  .modal__content-title {
    text-align: center;
    font-size: 1.8em;
    font-weight: 400; }

.report__type-input, .report__type-textarea {
  width: 100%;
  color: #555;
  border: 1px solid #a3a3a3;
  transition: all .3s;
  box-sizing: border-box;
  border-radius: 4px; }
  .report__type-input:focus, .report__type-textarea:focus {
    outline: none;
    border: 1px solid #005abb; }
  .report__type-input__label, .report__type-textarea__label {
    color: #555;
    margin-bottom: 5px; }

.report__type-textarea {
  padding: 10px 12px;
  font-size: .9em; }

.report__type-form {
  width: 70%;
  padding: 5px; }

.report__type-selector {
  display: block;
  font-size: 1em;
  font-weight: 400;
  width: 30%;
  min-width: 150px;
  color: #555;
  border: 1px solid #a3a3a3; }
  .report__type-selector:hover {
    cursor: pointer; }
  .report__type-selector:focus, .report__type-selector:hover {
    outline: none;
    border: 1px solid #005abb; }

.report__btn {
  background-color: #005abb;
  color: #fff;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  align-items: center; }
  .report__btn:disabled {
    cursor: not-allowed;
    opacity: .8; }

.report__error, .report__success {
  font-size: 1em;
  padding: 10px;
  text-align: center; }

.report__error {
  color: red; }

.report__success {
  color: #155724; }

.report__spinner {
  width: 30px;
  height: 30px; }

.report__reported-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px; }
  .report__reported-wrapper--title {
    margin-top: 30px;
    font-weight: 300;
    border-bottom: 1px solid black; }

.report__reported {
  padding: 3%;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box; }
  .report__reported-nav-wrapper {
    border: 1px solid #dedede;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 4px;
    margin: 4px;
    margin-bottom: 20px;
    width: 32.6%;
    box-sizing: border-box; }
    .report__reported-nav-wrapper:hover {
      cursor: pointer;
      border: 1px solid #005abb; }
  .report__reported--nav-link {
    color: #333;
    font-size: 1em; }
    .report__reported--nav-link div:not(:last-child) {
      display: flex; }
      .report__reported--nav-link div:not(:last-child) span {
        margin-right: 5px; }
    .report__reported--nav-link__value {
      color: #555;
      text-transform: capitalize; }
    .report__reported--nav-link__section {
      padding: 3px; }
      .report__reported--nav-link__section p {
        margin: 5px 10px 0 20px;
        font-size: .9em;
        font-weight: 300;
        color: #555; }

*,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Arapey', serif; }
  body ul {
    list-style-type: none; }
  body a {
    text-decoration: none; }

*,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Rokkitt", serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.top-header {
  position: relative;
  background: #000;
  padding: 20px;
  padding-left: 50px; }

.top-icon {
  display: grid;
  grid-template-columns: 20px 20px 20px;
  grid-gap: 50px;
  margin-top: 8px; }

.img-icon img {
  width: 100%; }

.top-search {
  position: absolute;
  right: 0;
  margin-top: 5px;
  top: 0;
  margin-right: 20px;
  width: 20%; }

.top-search-grid {
  display: grid;
  grid-template-columns: 80% 20%; }

.search-input {
  height: 50px;
  border: none;
  background: none;
  color: #ffff;
  padding: 5px;
  box-shadow: none;
  outline: none;
  font-size: 14px;
  font-family: "Rokkitt", serif;
  display: inline-block;
  text-transform: capitalize; }

.top-search-grid img {
  width: 15px;
  margin-top: 23px; }

.top-menu-section {
  position: relative;
  padding: 30px;
  padding-bottom: 0px; }

.logo {
  position: absolute;
  top: 0;
  width: 50px;
  margin-left: 65px;
  margin-top: 65px; }

.top-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative; }

.title h1 {
  font-family: 'Fredoka one', cursive;
  font-weight: bold; }

.navigation li {
  float: left;
  margin: 20px; }

.navigation a {
  color: #000;
  font-size: 13px;
  font-family: "Rokkitt", serif;
  font-weight: bold; }

.auth-link {
  position: absolute;
  top: 0;
  margin-top: 55px !important;
  z-index: 100;
  right: 0;
  margin-right: 100px; }
  .auth-link .auth-path {
    padding: 15px;
    border-radius: 2px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
    display: inline;
    position: relative; }

.headerAvatar {
  position: absolute;
  width: 40px !important;
  top: 0;
  margin-top: -5px;
  border-radius: 100%;
  height: 40px; }

/*showcase*/
.showcase {
  position: relative;
  width: 86%;
  margin: auto;
  margin-bottom: 30px; }

.showslide {
  padding-top: 10px;
  width: 87%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 30px;
  justify-content: center; }

.slider {
  height: 450px !important; }

svg {
  fill: #fff; }

.slider a.previousButton,
.slider a.nextButton {
  z-index: 10 !important;
  cursor: pointer;
  fill: #fffffe; }

.slider polygon {
  fill: #fffffe; }

.slider a.previousButton {
  left: 5px; }

.slider a.nextButton {
  right: 5px; }

.slide-container {
  top: 0;
  left: 0;
  right: 0; }

.slide-image {
  width: 100%;
  height: 450px;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  position: relative; }

.slide-image > .imgSlide {
  position: relative;
  width: 100%;
  height: 450px; }

.slide-image > .imgSlide .slid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px; }

.slide-image .blog-desc {
  color: #ffff;
  width: 65%;
  margin: 20px;
  position: absolute;
  margin-left: 5%;
  line-height: 25px;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 0;
  margin-bottom: 25%; }
  .slide-image .blog-desc p {
    font-size: 20px; }

.slide-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 1;
  border-radius: 4px; }

.moreBtn {
  background-color: #a71645;
  color: #ffff;
  position: absolute;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Rokkitt", serif;
  margin-top: 20px;
  transition: all 0.4s ease; }

.small-icon {
  width: 8px; }

.moreBtn:hover {
  background-color: #b92477; }

.right-arrow,
.left-arrow {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  height: 100%;
  cursor: pointer;
  display: none; }

.right-arrow {
  width: 3.5%; }

.left-arrow {
  left: 0;
  width: 5%; }

.right-arrow img,
.left-arrow img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%; }

/* main-body */
.main-body {
  display: grid;
  grid-template-columns: 70% 28.5%;
  grid-gap: 20px; }

.article-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 20px; }

.b-article {
  position: relative;
  margin-bottom: 100px; }

.b-article a {
  color: #000; }

.article-img {
  position: relative;
  width: 100%;
  height: 200px; }

.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.article-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000052;
  z-index: 10; }

.b-article-desc {
  position: absolute;
  width: 100%;
  z-index: 10;
  margin-top: -60px; }

.descriptions {
  background: #ffff;
  position: relative;
  height: 125px;
  width: 83%;
  margin: auto;
  box-shadow: 1px 1px 20px 0px #100a0c26;
  padding: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.art-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: 'Rokkitt', serif; }

.art-author {
  position: relative;
  color: #333; }

.authors-av {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 8px;
  margin-bottom: 10px; }

.authors-av img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  top: 0; }

.author-name {
  margin-left: 40px; }

.small-text {
  line-height: 15px;
  text-align: justify; }

.readMore {
  display: block;
  margin-top: 10px;
  border: 1px solid #ddd;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  outline: none;
  color: #000;
  font-family: "Rokkitt", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ddd;
  display: none; }

/* top-category */
.top-category {
  display: grid;
  grid-gap: 15px; }

.categ {
  position: relative; }

.cat-name {
  position: absolute;
  z-index: 10;
  background: none;
  color: #ffff;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.cat-img {
  position: relative;
  width: 100%;
  height: 100px;
  border-top-right-radius: 40px; }

.cat-title {
  margin-bottom: 20px; }

.cat-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 4px; }

.cat-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  border-top-right-radius: 4px;
  z-index: 1; }

/*  */
.recent {
  margin-top: 20px; }

.recent-article {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 10px;
  margin-top: 10px; }

.recent-image {
  width: 100%;
  height: 100px; }

.recent-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.recent-head {
  font-size: 1.1rem;
  font-weight: bold; }

.img-recent {
  position: relative;
  padding-top: 5px; }

/* footer */
footer {
  position: relative;
  color: #ffff; }

footer h1 {
  font-size: 1.5rem;
  margin-bottom: 20px; }

.footer-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 350px;
  background: #000; }

.footer-logo {
  width: 60px;
  margin-bottom: 10px; }

/* read article */
.read-article {
  position: relative;
  width: 55%;
  margin: auto;
  padding-top: 20px; }

.read-title {
  margin-bottom: 50px; }

.read-title h1 {
  text-align: center; }

.read-image {
  width: 100%;
  height: 400px;
  margin-bottom: 60px; }

.read-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.read-body {
  font-size: 1rem;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif !important;
  line-height: 30px;
  text-align: justify; }

.clap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  width: 20%; }

.voteBtn {
  width: 25px;
  border: none;
  background: none;
  cursor: pointer; }

.like {
  margin-top: 30px;
  position: relative;
  font-family: 'Montserrat', sans-serif; }

.like h5 {
  position: absolute;
  top: 0;
  margin-left: 30px; }

/*  */
.people-follower {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  margin-top: 15px; }

.follower-img {
  width: 60px;
  height: 60px;
  display: inline-block; }
  .follower-img .follower-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover; }

.follow-info {
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 1rem;
  display: inline-block; }

.follow-info a {
  color: #000000b5 !important;
  margin-top: 5px;
  font-size: 13px; }

.follow-info span {
  display: block; }

.G-loadingLine {
  position: fixed;
  width: 100%;
  height: 3px;
  background-color: #ffff;
  top: 0;
  left: 0;
  z-index: 10; }
  .G-loadingLine ::before {
    content: '';
    position: absolute;
    top: 0;
    width: 20%;
    height: 3px;
    z-index: 100;
    background-color: #1da1f2;
    animation: 4s loading infinite; }

@keyframes loading {
  30% {
    width: 50%; }
  50% {
    width: 70%; }
  85% {
    width: 85%; }
  100% {
    width: 100%; } }

@-webkit-keyframes loading {
  30% {
    width: 50%; }
  50% {
    width: 70%; }
  85% {
    width: 85%; }
  100% {
    width: 100%; } }
  .G-loadingLine .G-successMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .G-loadingLine .G-successMessage div {
      background-color: #ffff;
      padding: 25px;
      padding-left: 60px;
      padding-right: 60px;
      margin-top: 80px;
      box-shadow: 0px 0px 20px 0px #03a9f44f;
      border-radius: 5px;
      color: #48636f;
      font-size: 12px;
      font-family: "Rokkitt", serif; }
  .G-loadingLine .trashBtn {
    border: none;
    background: none !important; }

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; }
  .loadingSpinner img {
    width: 60px; }

.reading-time {
  display: inline-block;
  background-color: #efefef;
  font-style: italic;
  font-weight: 300;
  padding: 4px;
  color: #555; }

/*@gratian*/
.G-showcase {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Source Sans Pro", sans-serif; }
  .G-showcase .G-create-article {
    display: flex;
    width: 45%;
    flex-direction: column;
    margin: auto;
    padding-left: 95px; }
    .G-showcase .G-create-article .G-containers {
      box-shadow: 0px 0px 500px 0px #dddddda6; }
    .G-showcase .G-create-article .G-form-group {
      margin-bottom: 0.5rem;
      padding: 10px;
      position: relative; }
      .G-showcase .G-create-article .G-form-group label {
        position: absolute;
        left: 0;
        margin-left: -100px;
        color: #656060; }
    .G-showcase .G-create-article .G-image-display {
      width: 100%;
      height: 300px;
      margin-top: 20px; }
      .G-showcase .G-create-article .G-image-display img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .G-showcase .G-create-article .G-input {
      border: none;
      font-size: 30px;
      font-weight: normal;
      width: 100%;
      min-height: 50px;
      outline: none;
      box-shadow: none;
      font-family: "Rokkitt", serif; }
    .G-showcase .G-create-article .titleLabel {
      margin-top: 15px; }
    .G-showcase .G-create-article ::placeholder {
      font-size: 14px;
      text-transform: capitalize; }
    .G-showcase .G-create-article #texteditor, .G-showcase .G-create-article .G-titleEditor {
      width: 100%;
      overflow: auto;
      font-family: "Rokkitt", serif !important;
      outline: none;
      box-shadow: none;
      font-size: 20px; }
    .G-showcase .G-create-article #texteditor {
      min-height: 40vh; }
    .G-showcase .G-create-article .G-titleEditor {
      min-height: auto; }
    .G-showcase .G-create-article .changeTitle {
      margin-top: 0 !important; }
    .G-showcase .G-create-article #texteditor:empty::before {
      content: "start writting here ...";
      color: #0a05058c;
      font-size: 14px; }
    .G-showcase .G-create-article .G-titleEditor:empty::before {
      content: "write your title";
      color: #0a05058c;
      font-size: 15px; }
    .G-showcase .G-create-article .G-displayTag {
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 20px;
      position: relative;
      padding-top: 7px;
      padding-bottom: 7px;
      box-shadow: 0px 0px 50px 0px #e0dede;
      font-size: 12px;
      margin: 2px;
      float: left; }
    .G-showcase .G-create-article .G-tagName {
      color: #ca4b70;
      font-size: 13px;
      text-transform: capitalize; }
    .G-showcase .G-create-article .G-removeTag {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 7px;
      margin-right: 10px;
      cursor: pointer;
      font-size: 12px;
      color: #000;
      z-index: 10; }
    .G-showcase .G-create-article .trashBtn {
      border: none;
      outline: none;
      box-shadow: none;
      cursor: pointer; }
    .G-showcase .G-create-article .G-actionType {
      position: relative;
      left: 0;
      width: 100%;
      display: flex;
      box-shadow: 0px 0px 100px 0px #dddddd26; }
      .G-showcase .G-create-article .G-actionType .G-tags, .G-showcase .G-create-article .G-actionType .G-links {
        position: absolute;
        width: 60%;
        background: #ffff;
        height: 55px;
        right: 0; }
        .G-showcase .G-create-article .G-actionType .G-tags input, .G-showcase .G-create-article .G-actionType .G-links input {
          border: none;
          padding-left: 10px;
          font-size: 13px;
          height: 55px;
          outline: none;
          box-shadow: none;
          font-family: "Source Sans Pro", sans-serif;
          width: 75%; }
        .G-showcase .G-create-article .G-actionType .G-tags .G-tagBtn, .G-showcase .G-create-article .G-actionType .G-links .G-tagBtn {
          position: absolute;
          top: 0;
          right: 0;
          padding: 20px;
          padding-left: 30px;
          padding-right: 30px;
          cursor: pointer;
          background: #000;
          border: none;
          outline: none;
          box-shadow: none;
          text-transform: uppercase;
          font-weight: bold;
          z-index: 10;
          color: #fff; }
      .G-showcase .G-create-article .G-actionType .G-links {
        z-index: 100; }
    .G-showcase .G-create-article .G-action {
      padding: 10px; }
    .G-showcase .G-create-article .G-action button {
      cursor: pointer;
      border: none;
      outline: none;
      box-shadow: none;
      font-size: 10px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border: 1px solid #000000fa; }
    .G-showcase .G-create-article .uploadImageIcon {
      font-size: 16px; }
    .G-showcase .G-create-article .G-publish {
      position: relative; }
    .G-showcase .G-create-article .G-publish button {
      padding: 17px;
      padding-left: 20px;
      padding-right: 20px;
      cursor: pointer;
      font-size: 15px;
      background: none;
      font-family: "Source Sans Pro", sans-serif;
      outline: none;
      box-shadow: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
      .G-showcase .G-create-article .G-publish button .worldIcon {
        padding-right: 5px; }
    .G-showcase .G-create-article .G-storyTitle {
      font-size: 50px;
      padding-top: 16px;
      font-size: 40px;
      padding-top: 0px;
      font-family: "Rokkitt", serif;
      font-weight: bold;
      padding: 10px;
      padding-left: 0;
      padding-top: 0; }
  .G-showcase .G-notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh; }
    .G-showcase .G-notFound img {
      width: 70px;
      margin-bottom: 30px;
      font-family: "Source Sans Pro", sans-serif; }
  .G-showcase .G-displayValidation {
    position: absolute;
    right: 0;
    top: 0; }
    .G-showcase .G-displayValidation .G-displayError {
      position: relative;
      margin-top: 100px; }
      .G-showcase .G-displayValidation .G-displayError .G-errors {
        padding: 25px;
        background: #dddddd4f;
        color: #ef649b;
        margin: 5px;
        padding-left: 20px;
        padding-right: 50px;
        border-radius: 1px;
        font-size: 12px;
        min-width: 60%;
        float: right;
        position: relative;
        box-shadow: 0px 0px 50px 0px #4e469e2e; }

@keyframes shine {
  to {
    background-position: 0 0, 100% 0, 120px 0, 120px 40px, 120px 80px, 120px 120px; } }
  .G-showcase .G-singleEditor {
    min-height: auto !important; }

/*@Copain*/
.C-like {
  position: fixed center;
  right: 15px;
  bottom: 15px;
  z-index: 100; }

.c-like-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr; }

.turnLike {
  border: 1px solid red !important; }

.turnBlack {
  color: black !important; }

.changeColor {
  color: red; }

.btn-heart {
  font-family: "Rokkitt", serif;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background: #ffff;
  line-height: 36px;
  width: 30px;
  padding-left: 10px;
  padding-right: 10px; }
  .btn-heart i {
    padding-right: 2px; }
  .btn-heart div {
    display: inline-block; }

.G-singleEditor {
  min-height: auto !important; }

.btn-bookmark {
  font-family: "Rokkitt", serif;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background: #ffff;
  line-height: 36px;
  width: 20px;
  padding-left: 10px;
  padding-right: 10px; }
  .btn-bookmark i {
    padding-right: 2px; }
