$rokitFont: 'Rokkitt', serif;
.comment_form {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  font-family: $rokitFont;

  .comment_content {
    width: 100%;
    border: 1px solid #efefef;
    background-color: #fafbfc;
    resize: none !important;
    border-radius: 3px;
    padding: 1em 1.2em;
    height: 6em;
    font-family: $rokitFont;
  }
  .isInvalid {
    border: 1px solid rgba(221, 48, 57, 0.795);
    textarea::placeholder {
      color: rgba(221, 48, 57, 0.795);
    }
  }
  textarea {
    max-width: 100%;
    transition: all 0.2s ease-out;
    color: #555;
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    outline: none;
    cursor: text;
    white-space: pre-wrap;
  }
  textarea:focus {
    border: 1px solid rgba(23, 24, 24, 0.733);
  }
  .comment_button {
    width: 10em;
    height: 3em;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(13, 14, 14, 0.863);
    font-family: Open Sans, sans-serif;
    cursor: pointer;
  }
  .comment_user_avatar {
    padding-right: 10px;
    width: 3em;
   

    img {
      border-radius: 100%;
      width: 3em;
      height: 3em;
    }
  }
  .comment_input {
    flex: 1;
  }
}
.posted_comment {
  display: flex;
  padding-top: 2em;
  font-family: $rokitFont;
  border-bottom: 1px solid #dddddd36;

  .user_posted_avatar {
    flex: 1;

    img {
      border-radius: 100%;
      width: 2em;
      height: 2em;
    }
  }
  .posted_comment_body {
    flex: 15;
    .posted_comment_title {
      padding-bottom: 1em;
      .posted_comment_time {
        color: rgba(51, 51, 51, 0.39);
        font-size: 15px;
      }
    }
    .posted_comment_content {
      line-height: 2em;
      color: #555;
    }
    .posted_comment_footer {
      display: flex;
      padding-bottom: 1em;
      padding-top: 1em;
      .reply_to_comment {
        padding-left: 10px;
        cursor: pointer;
      }
    }
  }
}
